@use '../../../../styles/functions' as f;
@use '../../../../styles/variables' as v;

$product-img-width: 25%;

.cart {
  display: flex;
  flex-direction: column;
  gap: v.$gutter;
  height: 80vh;
  overflow: hidden;
  position: sticky;
  top: 1rem;

  &-top {
    align-items: center;
    display: flex;
    justify-content: space-between;

    h2 {
      margin-bottom: 0;
    }
  }
}