$color: #666;

$color-primary: #048ba8;
$color-danger: #ff2a00;
$color-light: #777;

$color-lightest: #fff;
$color-darkest: #2f2d2e;

$font-sans: 'Alumni Sans', sans-serif;

$gutter: 1rem;

$content-header-height: $gutter * 4;